.text-red {
  color: red;
}
.palette-holder {
  padding-top: 0;
  padding-bottom: 0;
}
.palette-base {
  background: lightblue;
  cursor: pointer;
}
.palette-result {
  background: pink;
  cursor: pointer;
}