body {
  background: url('../img/mountain-scene.jpg');
  background-size: cover;
}
.text-red {
  color: red;
}
.palette-holder {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.palette-base {
  padding: 3rem;
  background: lightblue;
  cursor: pointer;
}
.palette-result {
  padding: 3rem;
  background: pink;
  cursor: pointer;

}
.history-header {
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  height: 2.4rem;
  padding: 0.5rem;
  margin: 0 0 1rem 0;
  background: #fff;
  color: #000;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}
.history-column {
  // background: #e6e6e6;
  .card {
    border: 2.5px solid #E8E8E8;
  }
}
.card-section pre {
  word-wrap: break-word;
}
.card-divider {
  background: #1fa7cb;
  text-align: center;
  color: #ffffff;
}
.card-title {
  background: #e2e2e2;
  padding: .5rem .6rem;
  color: #333333;
  border-radius: 3px;
  box-shadow: #1e1e1e 2px 2px 8px;
}