---
name: contact
url: /contact
animationIn: fadeIn
---

<h1>Contact Me</h1>

  <div class="grid-frame">
    <div class="small-12 medium-6 grid-content">
      <p>Feel free to contact me about a feature enhancement or a bug fix.</p>
      <p>The very best way to help is to contribute on GitHub</p>
      
     
        <div class="grid-content align-center">
          <ul class="inline-list align-center text-center">
            <!--<li><a href="https://github.com/joshsmith01" target="_blank"><i class="fa fa-github-square"></i></a></li>-->
            <li><a href="https://bitbucket.org/joshsmith01/sass-color-calculator/overview" target="_blank"><i class="fa fa-bitbucket-square"></i></a></li>
            <li><a href="https://twitter.com/joshsmith01" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
            <!--<li><a href="https://twitter.com/joshsmith01" target="_blank"><i class="fa fa-code-fork"></i></a></li>-->
          </ul>
        </div>

    </div>

    <!--<div class="small-12 medium-6 grid-content">-->
      <!--<div>-->
        <!--<form name="myForm" ng-submit="ctrl.register()">-->
            <!--Name: <input type="text" ng-model="ctrl.user.name">-->
            <!--Email: <input type="email" >-->
            <!--Comment: <textarea type="text" ></textarea>-->
          <!--<input class="button expand btn-execute" type="submit" value="Submit">-->
        <!--</form>-->
      <!--</div>     -->
    <!--</div>-->
  </div>
