---
name: contact
url: /contact
animationIn: fadeIn
---

<h1>Contact Me</h1>

  <div class="grid-frame">
    <div class="grid-block">
      <div class="grid-content" ng-controller="directoryController">
        <ul>
          <li ng-repeat="item in list | filter:search">
            {{item.name}} - <em>{{item.age}}</em>
          </li>
        </ul>
      </div>
      <div class="grid-content">

      </div>
    </div>
    <div class="grid-content">

      <div ng-controller="MyFormCtrl as ctrl">
        <form name="myForm" ng-submit="ctrl.register()">
            Name: <input type="text" ng-model="ctrl.user.name">
            Email: <input type="email" placeholder="Email">
            Comment: <textarea type="text" ></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>

      
    </div>
  </div>
