---
name: home
url: /
animationIn: fadeIn
---

<h1>Sass Color Calculator</h1>
<p class="lead">You bring the colors, we'll Sassify them!</p>

<div class="grid-block">
  <div class="grid-content small-12 medium-6 input-fields">
    <div class="grid-block">
      <div class="small-12 medium-6 grid-content">
        <input class="small-12" type="text" placeholder="Base Color">
      </div>
      <div class="small-12 medium-6 grid-content">
        <input class="small-12" type="text" placeholder="Result Color">
      </div>
    </div>
    <div class="card">
      <div class="card-divider">
      Click The Color To Copy It:
      </div>
      <div class="card-section palette-holder">
        <div class="grid-block ">
          <div class="grid-content palette-base text-center"><span data-tooltip aria-haspopup="true" class="has-tip" title="Shit in one had and then wish in the other and then see which one fills up first. Get your ass to work.">Base</span></div>
          <div class="grid-content palette-result text-center"><span data-tooltip aria-haspopup="true" class="has-tip" title="What are you waiting for? Click your color and then get your ass back to work">Result</span></div>
        </div>
      </div>
      <div class="card-section">
      <p></p><pre>sasturate(darken(#eeeeee, 50), 50);</pre><p></p>
      </div>
    </div>
  </div>
  <div class="grid-content small-12 medium-6 history-column">
  <p class="history-header"><span data-tooltip aria-haspopup="true" class="has-tip" title="The rug. You know. It really tied the room together">Your History</span></p>
    <div class="card">
      <div class="card-divider">
      Click The Color To Copy It:
      </div>
      <div class="card-section palette-holder">
      <div class="grid-block ">
      <div class="grid-content palette-base text-center">Base</div>
      <div class="grid-content palette-result text-center">Result</div>
      </div>
      </div>
      <div class="card-section">
      <p></p><pre>saturate(darken(#eeeeee, 50), 50);</pre><p></p>
      </div>
    </div>
  </div>
</div>
